name: Deploy Slidev to GitHub Pages

on:
  push:
    branches:
      - main  # déploie à chaque push sur la branche principale

permissions:
  contents: write  # nécessaire pour pousser sur gh-pages

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci || npm install

      - name: Build Slidev site
        run: slidev build

      - name: Add CNAME for custom domain
        run: echo "www.lakhdari.fr" > dist/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist

